.nso-italic {
  font-style: italic;
}

.nso-bold {
  font-style: normal;
  font-weight: bold;
}

.nso-stroke {
  text-decoration: line-through;
}

.nso-para {
  padding-bottom: 4px;
  padding-top: 4px;
}

.nso-code {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  line-height: normal;
  background: rgba(135, 131, 120, 0.15);
  color: #eb5757;
  border-radius: 3px;
  font-size: 85%;
  padding: 0.2em 0.4em;
}

.nso-title {
  padding-bottom: 16px;
  border-bottom: 1px solid #486581;
}

.nso-header-2 {
  margin-top: 8px;
}

.nso-pre-code {
  margin-top: 8px;
  margin-bottom: 8px;
}

img {
  margin: 4px;
  padding: 4px;
  border: 1px solid #486581;
  background-color: whitesmoke;
}
