/** Colors **/
$primary-color: #1976d2;

// Header Home
$header_home-bg: #f3f3f3;
$hover-link-color: #dfbd83;

/** Navbar **/
$navbar-height: 61px;
$navbar-link-color: #333;

/** Rotational **/
$rotation-sec: 10s;

$footer-link-color: #282a2d;

/** Containers */
$container-padding-lg: 12px;

$font-color: rgba(0, 0, 0, 0.88);

$sans-serif-font: 'Open Sans', sans-serif;
$serif-normal: 'Gentium Book Basic', serif;

/** Mixin for responsive design **/
@mixin breakpoint($class) {
  /** Breakpoints based on Bootstrap4 **/
  @if $class == xs {
    @media (max-width: 575px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == xl {
    @media (min-width: 1140px) {
      @content;
    }
  } @else if $class == xxl {
    @media (min-width: 1180px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg and xl";
  }
}

@mixin rotationalItem($classname, $deg, $img) {
  &.#{$classname} {
    transform: rotate($deg);
    animation: orb-#{$classname} $rotation-sec linear infinite;

    @keyframes orb-#{$classname} {
      from {
        transform: rotate($deg);
      }
      to {
        transform: rotate($deg - 360deg);
      }
    }

    &:before {
      transform: rotate(-$deg);
      background-image: baseurl($img);
      animation: orbef-#{$classname} $rotation-sec linear infinite;
      @keyframes orbef-#{$classname} {
        from {
          transform: rotate(-$deg);
        }
        to {
          transform: rotate(-$deg + 360deg);
        }
      }
    }
  }
}

@function baseurl($file-path) {
  @return url('../assets/images/'+$file-path);
}

.Rotational {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__orbit {
    width: 100%;
    position: relative;
    display: flex;
    max-width: 255px;
    max-height: 255px;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    margin-bottom: 100px;
    @include breakpoint(sm) {
      max-width: 350px;
      max-height: 350px;
      margin-top: 120px;
      margin-bottom: 130px;
    }
    @include breakpoint(lg) {
      max-width: 400px;
      max-height: 400px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  &__item {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;

    &:before {
      content: '';
      position: absolute;
      background-size: cover;
      width: 38px;
      height: 38px;

      @include breakpoint(sm) {
        width: 55px;
        height: 55px;
      }
    }

    &.computer {
      &:before {
        height: 55px;
        width: 45px;
        @include breakpoint(sm) {
          height: 65px;
          width: 55px;
        }
      }
    }
    &.hacker {
      &:before {
        width: 48px;
        height: 48px;
        @include breakpoint(sm) {
          width: 65px;
          height: 65px;
        }
      }
    }
    @include rotationalItem(hacker, 45deg, 'icons/linux-original.svg');
    @include rotationalItem(protection, 90deg, 'icons/algorithm.svg');
    @include rotationalItem(server, 135deg, 'icons/spotify.svg');
    @include rotationalItem(www, 180deg, 'icons/coffee.svg');
    @include rotationalItem(browser, 225deg, 'icons/idea.svg');
    @include rotationalItem(computer, 270deg, 'icons/laptop-2.png');
    @include rotationalItem(laptop, 315deg, 'icons/books.svg');
    @include rotationalItem(headphones, 360deg, 'icons/machine-learning.svg');
  }

  &__avatar-container {
    width: 115px;
    border-radius: 50%;
    overflow: hidden;
    animation: float 3s ease-in-out infinite;
    @include breakpoint(sm) {
      width: 175px;
    }
    @include breakpoint(lg) {
      width: 200px;
    }
  }
}

.wrapper-post {
  padding: 12px;
  width: 100%;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

$post-body-font: 'Gentium Book Basic';
$post-titles-font: 'Open Sans';

.Post {
  padding-top: 80px;
  font-family: $post-body-font;
  font-size: 17px;
  line-height: 1.4;
  .gatsby-resp-image-wrapper {
    max-width: 100% !important;
  }
  &__header {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 26px;
    &__data {
      padding: 0 14px;
    }
  }

  &__content {
    max-width: 820px !important;
  }

  &__title {
    margin-top: 60px;
    font-size: 28px;
    margin: 0;
  }

  &__subtitle {
    text-align: left !important;
    font-size: 14px !important;
    font-weight: 400;
    margin: 16px 0 !important;
    color: #717171;
    //font-style: oblique;
  }

  &__date {
    margin: 0;
    font-family: $post-titles-font;
    font-size: 13px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.54) !important;
    color: $hover-link-color !important;
  }

  // MARKDOWN
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $post-titles-font;
  }

  h2 {
    text-align: center;
  }
  h3,
  h2 {
    margin-top: 30px;
    font-size: 25px;
  }
  h4 {
    font-size: 19px;
  }
  h6 {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.53);
    text-align: center;
    font-size: 12px;
    position: relative;
    top: -25px;
    margin-bottom: 0;
  }
  @include breakpoint(sm) {
    font-size: 20px;
    &__title {
      font-size: 28px;
    }
    &__subtitle {
      font-size: 17px !important;
    }
    &__date {
      font-size: 13px;
      color: $hover-link-color !important;
    }
    h3,
    h2 {
      margin-top: 30px;
      font-size: 25px;
    }
    h4 {
      font-size: 19px;
    }
  }

  @include breakpoint(md) {
    font-size: 20px;

    &__title {
      font-size: 37px;
    }
    &__subtitle {
      font-size: 18px !important;
    }
    &__date {
      font-size: 14px;
    }
    h3,
    h2 {
      margin-top: 40px;
      font-size: 29px;
    }
    h4 {
      font-size: 21px;
    }
  }
  div.gatsby-highlight {
    & + h4,
    & + h3,
    & + h2 {
      margin-top: 30px !important;
    }
  }
  &__footer {
    background: #fafafa;
    padding-top: 30px;
  }
}

.Share {
  display: flex;
  justify-content: center;
  a {
    margin: 0 3px;
    padding: 9px 9px;
    border-radius: 50%;
    opacity: 1;
    &:hover {
      opacity: 1;
    }
    @include breakpoint(md) {
      padding: 12px 12px;
    }
  }

  &__iconwrapper {
    background: #4a4a4a;
    display: inline-flex;
    &.facebook {
      background: #3b5998;
    }
    &.twitter {
      background: #00aced;
    }
    &.linkedin {
      background: #007bb5;
    }
  }

  &__icon {
    margin: 0;
    width: 21px;
    height: 21px;
  }

  &--fixed {
    position: fixed;
    top: 30vh;
    flex-direction: column;
    display: none;
    left: 10px;
    &.hide {
      a {
        transform: scale(0);
      }
    }
    a {
      transition: 0.3s;
      margin: 3px 0;
      z-index: 10;
      position: relative;
    }
    @include breakpoint(lg) {
      display: flex;
    }
  }
}

.Foot {
  &__Share {
    margin-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 30px 0 30px 0;
    margin-bottom: 32px;
  }
}
.emoji-icon {
  display: inline;
  margin: 0;
  margin-top: 1px;
  position: relative;

  width: 17px;
  top: 3px;

  @include breakpoint(sm) {
    width: 19px;
  }
  @include breakpoint(md) {
    width: 21px;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.5);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-4px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.5);
    transform: translatey(0px);
  }
}

.ProjectTemplate {
  &__header {
    margin-bottom: -5px;
  }
  &__contentwrapper {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1140px;
  }
  &__content {
    @include breakpoint(lg) {
      max-width: 100%;
    }
    & > :first-child {
      margin-top: 15px !important;
    }
  }
  &__col {
    padding: 0 !important;
    @include breakpoint(lg) {
      padding-right: 40px !important;
    }
  }
  &__header-separator {
    margin-top: 42px;
    background: #efefef;
    max-width: 760px !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    @include breakpoint(lg) {
      max-width: 100% !important;
    }
  }
}
