@import '../assets/styles/flex-box-grid';

/** VARIABLES **/

/** Colors **/
$primary-color: #e24f54;
   
   // Header Home
   $header_home-bg: #7fc5bc;

/** Navbar **/
$navbar-height: 70px;
$navbar-link-color: #2e2e2e;

/** Rotational **/
$rotation-sec: 10s;

/** Footer **/
$footer-height: 200px;
$footer-link-color: #282a2d;

/** Containers */
$container-padding-lg: 25px;


/** Mixin for responsive design **/
@mixin breakpoint($class) {  
   /** Breakpoints based on Bootstrap4 **/
   @if $class == xs {
      @media (max-width: 575px) { @content; }
   }
   @else if $class == sm {
      @media (min-width: 576px) { @content; }
   }
   @else if $class == md {
      @media (min-width: 768px) { @content; }
   }
   @else if $class == lg {
      @media (min-width: 992px) { @content; }
   }
   @else if $class == xl {
      @media (min-width: 1140px) { @content; }
   }
   @else {
      @warn "Breakpoint mixin supports: xs, sm, md, lg and xl";
   }
}

@mixin rotationalItem($classname, $deg, $img) {
   &.#{$classname} {         
      transform: rotate($deg);
      animation: orb-#{$classname} $rotation-sec linear infinite;

      @keyframes orb-#{$classname} {
         from {
            transform: rotate($deg);
         }
         to {
            transform: rotate($deg - 360deg);
         }
      }

      &:before {
         transform: rotate(-$deg);
         background-image: baseurl($img);        
         animation: orbef-#{$classname} $rotation-sec linear infinite;
         @keyframes orbef-#{$classname} {
            from {
               transform: rotate(-$deg);
            }
            to {
               transform: rotate(-$deg + 360deg);
            }
         }
      }
   }
}

/** Functions **/
@function baseurl($file-path) {
   @return url('../assets/images/' + $file-path);
}

/* Deveuelve pixeles en rems */
@function remcalc($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}


/* General Modifiers */
.text-center {
  text-align: center;
}

.text-left {
   text-align: left;
}

.hide {
  display: none;
}

   // containers
.container {
   padding-left: $container-padding-lg;
   padding-right: $container-padding-lg;
   max-width: remcalc(1130px);
   margin-left: auto;
   margin-right: auto;

   &--full {
      @extend .container;
      max-width: 100%;
   }
}

/** Styles ----------------------- **/
* {
  
}

body {
   margin: 0;
   padding: 0;
   text-rendering: geometricPrecision;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   -webkit-font-smoothing: antialiased;
   color: #282a2d;
}

input, textarea {

   &:focus {

   }
}

.Page {
   padding-top: 100px;
   padding-bottom: remcalc(30px);       
   font-size: remcalc(15px);
   font-weight: 600;
   
   &__title {
      font-size: remcalc(45px);
      font-weight: 800;   
   }

   &__description {
      font-weight: 600;
   }      
}

/** Navbar Component Styles **/
.Navbar {
   height: $navbar-height;
   background: $header_home-bg;
   display: flex;
   justify-content: center;   
   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;      
   }

   * {
      margin: 0;
      padding: 0;
   }

   a {
      text-decoration: none; 
      color: $navbar-link-color;     
   }

   /** Link to home **/
   &__title {            
      font-weight: 900;         
   }

   &__nav {
      display: flex;
      list-style: none;      
   }
      &__item {
         margin-left: 2rem;
      }
         &__link {
            display: block; 
            font-size: 0.9rem;  
            font-weight: 600;
         }
}

/** Header Home **/
.Header-Home {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background-color: $header_home-bg;
   height: calc(100vh - #{$navbar-height});
   color: white;

   * {
      margin: 0;
      padding: 0;
   }

   &__title {
      font-size: 3rem;
      padding-top: 25px;
      font-weight: 900;
   }

   &__subtitle {
      font-size: remcalc(15px);
      margin-top: remcalc(10px);
      color: #595959;
      font-weight: 400;
      text-transform: uppercase;
   }
}


/** Rotational Component **/
.Rotational {
   width: 100%;
   height: 100%;  
   display: flex;
   align-items: center;
   justify-content: center;

   &__orbit {
     
      width: 100%;      
      max-width: 450px;
      max-height: 400px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__item {
      border-radius: 50%;
      width: 100%;
      height: 100%;      
      position: absolute;         
      
      &:before {
         content: '';
         position: absolute;
         background-size: cover;
         width: 50px;
         height: 50px;                           
      }
      
      @include rotationalItem(hacker, 45deg, 'icons/hacker.svg');
      @include rotationalItem(computer, 90deg, 'icons/coding-gray.svg');
      @include rotationalItem(server, 135deg, 'icons/server-sky.svg');
      @include rotationalItem(www, 180deg, 'icons/world-wide-web.svg');      
      @include rotationalItem(browser, 225deg, 'icons/browser.svg');      
      @include rotationalItem(protection, 270deg, 'icons/data-protection.svg');      
      @include rotationalItem(laptop, 315deg, 'icons/laptop.svg');      
      @include rotationalItem(headphones, 360deg, 'icons/headphones.svg');          
   }

   &__avatar-container {
      width: 140px;
      border-radius: 50%;
      overflow: hidden;    
      opacity: .9;
      animation: float 3s ease-in-out infinite;  
   }
}

/** About Section **/
.About {
   background: #fdf0d2;
   background-image: baseurl('textures/escheresque.png');
   background-image: baseurl('textures/groovepaper.png');
   background-image: baseurl('textures/old-map.png');
   background-image: baseurl('textures/fake-luxury.png');
   background-image: baseurl('textures/brilliant.png');
   background-image: baseurl('textures/clean-textile.png');
   background-image: baseurl('textures/inspiration-geometry.png');



   &__titlewrap {
      
   }

      &__title {

      }

      &__description {

      }
   &__interests {
      margin-top: 50px;
      margin-bottom: 50px;

      &__title {

      }

      &__list {         
         list-style: none;
      }
         &__item {                     
            i {
               width: 27px;
               height: 27px;
               display: inline-block;
               position: relative;               
               margin-right: 10px;
               top: 6px;
               background-size: cover;
            }
            i.ai {
               background-image: baseurl('icons/artificial-intelligence (4).svg');
            }
            i.ml {
               background-image: baseurl('icons/machine-learning.svg');
            }
            i.ds {
               background-image: baseurl('icons/data.svg');
            }
            i.js {
               background-image: baseurl('icons/javascript.svg');
            }
            i.cp {
               background-image: baseurl('icons/algorithm.svg');
            }
            i.web {
               background-image: baseurl('icons/html-5.svg');
            }
            i.back {
               background-image: baseurl('icons/server.svg');
            }
            i.more {
               background-image: baseurl('icons/web-development.svg');
            }
         }
   }

   &__img-container {
      align-self: center;
   }
      &__img {
         border: 10px solid white;
      }
}

/** Footer **/
.Footer {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: $footer-height;

   * {
      margin: 0;
      padding: 0;
   }

   a {
      color: $footer-link-color;
      text-decoration: none;
   }

   &__social {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: remcalc(35px);
   }
      &__icon { // tag a
         margin: 0 remcalc(15px);   
         @include breakpoint(xs) {
            margin: 0 remcalc(10px);
         }  

         &__img {
            width: remcalc(27px);   
         }
      }
   &__copy {

   }
      &__copytext {
         font-size: remcalc(12px);
         font-weight: 600;
         color: #848687;
         text-align: center;
      }
}


/** Keyframes =================  **/
@keyframes float {
   0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.5);
      transform: translatey(0px);
   }
   50% {
      box-shadow: 0 15px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-4px);
   }
   100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.5);
      transform: translatey(0px);
   }
}
